<!-- <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Issue Tracker</a>
    </div>
</nav> -->


<nav class="navbar bg-dark bg-body-tertiary">
    <div class="container-fluid">
        <a href='/' class="navbar-brand mx-3">Issue Tracker</a>
    </div>
</nav>